<div class="div col-xs-12">
   <div class ="text-center" style="font-weight: bolder; padding-top: 20px;color: #787878;">Data Quality (DQ) Score</div>
   <br>
  <div class="row" *ngIf="grid0loaded"> 
  <div class="col-12">
    <span class="float-left" style = "font-size: 15px;">DQ Score</span>
    <span style = "font-size: 15px;color: #007399;;font-weight:bolder;margin-left: 150px;">{{dqscore}}</span>
  </div>
  <div class="col-12">
    <span class="float-left" style ="font-size: 15px;margin-top: 8px;">Change from prior Quarter</span>
    <span style = "font-size: 15px;color: #e30613;font-weight:bolder;margin-left: 10px;"><i class="fa fa-sort-desc fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;</span><span style="color: #007399;font-weight:bolder;font-size: 15px;">{{changeFromPriorQuarter}}</span>
  </div>
</div>
</div>