<div class="row" style="background-color: #007399;padding-top: 10px;padding-bottom: 12px;">
  <div class="col-6" style="color: white;font-size: 16px;font-weight: bolder;margin-left: 15px;">Data Quality Monitoring&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span>
      <i class="fa fa-home fa-2x"></i>
    </span>
  </div>
  <div class="col-4 pull-right text-center" style="color: white;font-size: 10px;padding-top:7px;font-weight: bolder;">
    <span>
      <i class="fa fa-wrench fa-2x" aria-hidden="true"></i>
    </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Default Date as of Jan-Mar 2018
  </div>
</div>
<br>
<div class="row">
  <div class="col-4">
    <app-label-percentage [percentage]="dataQualityScoreModel['dqScore']" [label]="dataQualityScoreModel['header']"></app-label-percentage>
  </div>
  <div class="col-4">
    <app-label-percentage [percentage]="ecdeWithDQModel['ecdeWithDQScore']" [label]="ecdeWithDQModel['header']"></app-label-percentage>
  </div>
  <div class="col-4">
    <app-label-percentage [percentage]="bcdeWithDQModel['bcdeWithDQcore']" [label]="bcdeWithDQModel['header']"></app-label-percentage>
  </div>
</div>
<br>
<div class="container-fluid row">
  <div class="col-md-6 col-sm-12 ">
    <div class="text-center">
      <strong *ngIf="dimensionFilter == 'sourceSystem'" class="label" style="font-size: 14px;">DQ Monitoring Details By Source System</strong>
      <strong *ngIf="dimensionFilter == 'entityLegalLob'" class="label" style="font-size: 14px;">DQ Monitoring Details By Legal Entity/LOB</strong>
      <div ngbDropdown #radioDrop class="d-inline-block" style="padding-left: 80px;">
        <button class="btn" id="dropdownBasic1" ngbDropdownToggle style="width: 120px;height: 30px;font-size: 12px;">{{displayJson[dimensionFilter]}}</button>
        <ul ngbDropdownMenu autoClose="true" aria-labelledby="dropdownBasic1">
          <li class="dropdown-item" style="width: 80px;height: 30px;font-size: 12px;">
            <input type="radio" id="dimensionFilterid" [(ngModel)]="dimensionFilter" value="sourceSystem" (change)="filterDimensionData()">Source System
          </li>
          <li class="dropdown-item" style="width: 80px;height: 30px;font-size: 12px;">
            <input type="radio" id="dimensionFilterid" [(ngModel)]="dimensionFilter" value="entityLegalLob" (change)="filterDimensionData()">Legal Entity/LOB
        </ul>
      </div>
    </div>
    <br>
    <br>
    <div *ngIf="grid1loaded" style="font-size: 8px; padding-bottom: 20px;width: 98%;">
      <app-grid #grid></app-grid>
    </div>
    <div class="row mt-3">
        <div class="col-5" style="margin-left: 15px;border: #ccc solid 1px; padding: 5px;background-color: #ccc">
          <div class="" style="font-weight: bolder;margin-bottom: 10px;">Glossary</div>
          <hr>
          <div class="" style="color: #000;font-weight: bolder;font-size: 12px;">ADS : <span style="color: #43b02a">Authoritative Data Source</span></div>
          <div class="" style="color: #000;font-weight: bolder;font-size: 12px;">BCDE: <span style="color: #43b02a">Business Critical Data Element</span></div>
          <div class="" style="color: #000;font-weight: bolder;font-size: 12px;">ECDE : <span style="color: #43b02a">Enterprise Critical Data Element</span></div>
          <div class="" style="color: #000;font-weight: bolder;font-size: 12px;">LOB : <span style="color: #43b02a">Line of Business</span></div>
        </div>
      </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="row" style="float: right;">
      <div ngbDropdown class="d-inline-block" style="padding-right: 25px;padding-left: 35px;">
        <button class="btn dropdown-toggle" data-toggle="dropdown" id="dropdownBasic1" ngbDropdownToggle style="width: 60px;height: 30px;font-size: 12px;">LOB</button>
        <ul ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu">
          <li class="dropdown-item" style="width: 80px;height: 30px;font-size: 12px;">
            <input type="checkbox" [(ngModel)]="allLobSelected" (change)="selectAllLobs($event)">All
          </li>
          <li class="dropdown-item" *ngFor="let d4 of drop4" style="width: 80px;height: 30px;font-size: 12px;">
            <input type="checkbox" id="LOBFilterid" checked="checked" [(ngModel)]="LOBFilter[d4]" (change)="filterData($event)">{{d4}}
          </li>
        </ul>
      </div>
    </div>
    <br>
    <br>
    <div *ngIf="grid1loaded text-center" class="col-12">
      <div class="text-center">
        <strong class=" label" style="font-size: 14px;">% of ADS Profiled</strong>
        <br>
        <chart #grid1Chart [type]="grid1config.type" [data]="grid1config.data" style="height: 300px;width: 600px;" [options]="grid1config.options"></chart>
        <br>
        <strong class="label" style="font-size: 14px;">ECDE and BCDE with DQ Monitoring by {{auBuText}}</strong>
        <br>
        <br>
        <div class="row" style="float: right;">
            <div ngbDropdown class="d-inline-block" style="padding-right: 25px;">
              <button class="btn" id="dropdownBasic1" ngbDropdownToggle style="width: 100px;height: 30px;font-size: 12px;">Dimension</button>
              <ul ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <li class="dropdown-item" style="width: 80px;height: 30px;font-size: 12px;cursor: pointer;" [(ngModel)]="LOBFilter[d1]" (click)="filterDataOnADS($event)">
                  ADS
                </li>
                <li class="dropdown-item" style="width: 80px;height: 30px;font-size: 12px;cursor: pointer;" [(ngModel)]="SourceSysFilter[d1]"
                  (click)="filterDataOnBUCF($event)">
                  BUs/CFs
                </li>
              </ul>
            </div>
            <div ngbDropdown class="d-inline-block" style="padding-right: 25px;">
              <button class="btn" id="dropdownBasic1" ngbDropdownToggle style="width: 110px;height: 30px;font-size: 12px;">Source System</button>
              <ul ngbDropdownMenu aria-labelledby="dropdownBasic1" style="overflow-y: scroll; max-height: 150px;">
                  <li class="dropdown-item" style="width: 80px;height: 30px;font-size: 12px;">
                      <input type="checkbox" [(ngModel)]="allSourceSysSelected" (change)="selectAllSourceSys($event)">All
                    </li>
                <li class="dropdown-item" *ngFor="let d1 of drop2" style="width: 80px;height: 30px;font-size: 12px;">
                  <input type="checkbox" name="{{d1}}" id="SourceSysFilterid" checked="checked" [(ngModel)]="SourceSysFilter[d1]" (change)="filterSourceSystemData($event)">{{d1}}
                </li>
                <!--  <button class="dropdown-item">Another Action</button>
                <button class="dropdown-item">Something else is here</button> -->
              </ul>
            </div>
            <div ngbDropdown class="d-inline-block">
              <button class="btn" id="dropdownBasic1" ngbDropdownToggle style="width: 110px;height: 30px;font-size: 12px;">Year-Quarter</button>
              <ul ngbDropdownMenu aria-labelledby="dropdownBasic1" style="overflow-y: scroll; max-height: 150px;">
                  <li class="dropdown-item" style="width: 80px;height: 30px;font-size: 12px;">
                      <input type="checkbox" [(ngModel)]="allYearQrtrSelected" (change)="selectAllYearQrtr($event)">All
                    </li>
                <li class="dropdown-item" *ngFor="let d3 of drop3" style="width: 80px;height: 30px;font-size: 12px;">
                  <input type="checkbox" name="{{d3}}" id="QuarterFilterQtrid" checked="checked" [(ngModel)]="QuarterFilterQtr[d3]" (change)="filterQuarterData($event)">{{d3}}
                </li>
                <!--  <button class="dropdown-item">Another Action</button>
                <button class="dropdown-item">Something else is here</button> -->
              </ul>
            </div>
          </div>
          <br>
          <br>
        <!-- <div class="col-md-2 col-sm-12"></div> -->
        <chart #grid2Chart [type]="grid2config.type" [data]="grid2config.data" style="height: 300px;width: 600px;" [options]="grid2config.options"></chart>
      </div>
    </div>
  </div>
</div>
