<div class="row" style="background-color: #007399;padding-top: 10px;padding-bottom: 12px;">
  <div class="col-6" style="color: white;font-size: 16px;font-weight: bolder;margin-left: 15px;">Data Quality and Integrity - Key Highlights&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span><i class="fa fa-home fa-2x" aria-hidden="true"></i></span></div>
  <div class="col-4 pull-right text-center" style="color: white;font-size: 10px;padding-top:7px;font-weight: bolder;">Default Date as of Jan-Mar 2018
  </div>
</div>
<div class="container-fluid row">

  <div class="col-md-4 col-xs-12" style="padding-right:20px;padding-top:20px; border-right: 1px solid #ccc;">
    <span>
      <h5 class="text-center"><span style="color: #007399"><i class="fa fa-dashboard fa-2x" aria-hidden="true"></i></span>&nbsp;&nbsp;Data Quality Monitoring</h5>
    </span>
    <app-dq-score></app-dq-score>

    <hr>
    <div class="div col-xs-12">
      <div class="text-center" style="font-weight: bolder;color: #787878;">DQ Monitoring Stats</div>
      <br>
      <div class="text-center" *ngIf="grid3loaded">
        <chart #grid3configChart [type]="grid3config.type" [data]="grid3config.data" [options]="grid3config.options" style="height: 160px;width: 350px;"></chart>
       <br>
        <p style="text-align: center;font-weight: bolder;font-size: 15px;">Filters
          </p>
          <span>
            <div ngbDropdown class="d-inline-block" style="padding-left: 10px;">
              <button class="btn" id="dropdownBasic1" ngbDropdownToggle style="width: 110px;height: 30px;font-size: 12px;">Year-Quarter</button>
              <ul ngbDropdownMenu aria-labelledby="dropdownBasic1" style="overflow-y: scroll; max-height: 100px;">
                <li class="dropdown-item" style="width: 80px;height: 30px;font-size: 12px;">
                    <input type="checkbox" [(ngModel)]="allYearQrtrSelected" (change)="selectAllYearQrtr($event)">All
                  </li>
                <li class="dropdown-item" *ngFor="let d3 of drop3" style="width: 60px;height: 30px;font-size: 12px;">
                  <input type="checkbox" name="{{d3}}" checked="checked" [(ngModel)]="yearQuarterFilter[d3]" (change)="filtergrid3($event)">{{d3}}
                </li>
                <!--  <button class="dropdown-item">Another Action</button>
            <button class="dropdown-item">Something else is here</button> -->
              </ul>
            </div>
            <div ngbDropdown class="d-inline-block" style="padding-left: 10px;">
              <button class="btn" id="dropdownBasic1" ngbDropdownToggle style="width: 60px;height: 30px;font-size: 12px;">LOB</button>
              <ul ngbDropdownMenu aria-labelledby="dropdownBasic1" style="overflow-y: scroll; max-height: 100px;">
                <li class="dropdown-item" style="width: 80px;height: 30px;font-size: 12px;">
                    <input type="checkbox" [(ngModel)]="allLobSelected" (change)="selectAllLobs($event)">All
                  </li>
                <li class="dropdown-item" *ngFor="let d4 of drop4" style="width: 80px;height: 30px;font-size: 12px;">
                  <input type="checkbox" id="{{d4}}" checked="checked" [(ngModel)]="lobFilter[d4]" (change)="filtergrid3($event)">{{d4}}
                </li>
              </ul>
            </div>
            <div ngbDropdown class="d-inline-block" style="padding-left: 10px;">
              <button class="btn" id="dropdownBasic1" ngbDropdownToggle style="width: 110px;height: 30px;font-size: 12px;">Source System</button>
              <ul ngbDropdownMenu aria-labelledby="dropdownBasic1" style="overflow-y: scroll; max-height: 100px;">
                  <li class="dropdown-item" style="width: 80px;height: 30px;font-size: 12px;">
                      <input type="checkbox" [(ngModel)]="allSourceSysSelected" (change)="selectAllSourceSys($event)">All
                    </li>
                <li class="dropdown-item" *ngFor="let d1 of drop2" style="width: 80px;height: 30px;font-size: 12px;">
                  <input type="checkbox" name="{{d1}}" checked="checked" [(ngModel)]="sourceSystem[d1]" (change)="filtergrid3($event)">{{d1}}
                </li>
                <!--  <button class="dropdown-item">Another Action</button>
            <button class="dropdown-item">Something else is here</button> -->
              </ul>
            </div>
          </span>
      </div>
          
    </div>
  </div>
  <div class="col-md-5 col-xs-12" style="padding-right:20px;padding-top:20px; border-right: 1px solid #ccc;">
    <span>
      <h5 class="text-center"><span style="color: #007399"><i class="fa fa-wrench fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;</span>Measure / Remediate Data Quality</h5>
    </span>
    <br>
    <div class="text-center" style="font-weight: bolder;color: #787878;">High Priority DQ Issues</div>
    <br>
    <div class="row" style="padding-left: 60px;" *ngIf="grid4loaded">
      <chart #grid4configChart [type]="grid4config.type" [data]="grid4config.data" [options]="grid4config.options" style="width: 400px;"></chart>
    </div>
    <br>
    <div class="row" style="padding-left: 60px;">
      <div class="text-center" style="font-weight: bolder;color: #787878;padding-left: 140px;">Open DQ Issues</div>
      <br>
      <br>
      <div class="col-12">
        <div class="row" *ngIf="grid4loaded">
          <span style="text-align:center">
            <chart #grid1configChart [type]="grid1config.type" [data]="grid1config.data" [options]="grid1config.options"></chart>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-xs-12" style="padding-right:20px;padding-top:20px;">
    <span>
      <h5 class="text-center"><span style="color: #007399"><i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;</span>Internal Controls</h5>
    </span>
    <br>
    <div class="text-center" style="font-weight: bolder;color: #787878;">DQRI and DQP Scores</div>
    <br>
    <div class="row" style="border-bottom: solid #ccc 1px; padding-bottom: 15px">
      <div class="col-10 offset-1">
        <div class="row mt-3">
          <div class="col-12">
            <span class="float-left" style="color: #787878;font-weight: bolder;font-size: 15px;">Total Records</span>
            <span class="float-right" style="color: #007399;font-weight: bolder;font-size: 15px;">{{tRecords}}</span>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-12">
            <span class="float-left" style="color: #787878;font-weight: bolder;font-size: 15px;">DQRI Score</span>
            <span class="float-right" style="color: #007399;font-weight: bolder;font-size: 15px;">{{dqriScore}}</span>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-12">
            <span class="float-left" style="color: #787878;font-weight: bolder;font-size: 15px;">DQP Score</span>
            <span class="float-right" style="color: #007399;font-weight: bolder;font-size: 15px;">{{dqpScore}}</span>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <span class="float-left" style="color: #787878;font-weight: bolder;font-size: 15px;">Impact Score</span>
            <span class="float-right" style="color: #007399;font-weight: bolder;font-size: 15px;">{{impactScore}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
        <div class="col-8" style = " margin-left: 65px;border: #ccc solid 1px; padding: 5px;background-color: #ccc">
          <div class="" style="font-weight: bolder;">Glossary</div>
          <hr>
          <div class="" style="color: #000;font-weight: bolder;font-size: 12px;">DQ : <span style="color: #43b02a">Data Quality</span></div>
          <div class="" style="color: #000;font-weight: bolder;font-size: 12px;">DQP: <span style="color: #43b02a">Data Quality Profiling</span></div>
          <div class="" style="color: #000;font-weight: bolder;font-size: 12px;">DQRI : <span style="color: #43b02a">Data Quality Risk Index</span></div>
        </div>
      </div>
    

  </div>
</div>

<!--<app-dq-score></app-dq-score>
<app-grid></app-grid>
-->
