<html>
  <body>
      <div class = "row" >
          <ul class="nav nav-tabs" style="font-size: 12px;background-color: #d9d9d9;width: 100%;">
            <li class="nav-item" style="padding-left: 4px;">
              <a class="nav-link" routerLink="/home" routerLinkActive="active" style = "font-weight: bolder;color: #000;">Key Highlights</a>
            </li>
            <li class="nav-item" style="">
              <a class="nav-link"routerLink="/dq" routerLinkActive="active" style = "font-weight: bolder;color: #000;">Data Quality Monitoring</a>
            </li>
            <li class="nav-item" style="">
              <a class="nav-link" routerLink="/mrdq" routerLinkActive="active" style = "font-weight: bolder;color: #000;">Measure/Remidate Data Quality</a>
            </li>
             <li class="nav-item" style="">
              <a class="nav-link"routerLink="/ic" routerLinkActive="active" style = "font-weight: bolder;color: #000;">Internal Controls</a>
            </li>
          </ul>
          </div>
          <router-outlet></router-outlet>
</body>
</html>
